
.googleMap{
    height: 300px;
    width: 350px;
    border: 1px solid black;
    /* border-radius: 10px; */
    margin: auto;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.Icon{
    height: 60px;
    width: 60px;
}

.mapBox{
    width: 200px;
    height: 200px;
}

.weatherText{
    width: 340px;
    margin: auto;
    text-align: justify;
    margin-bottom: 20px;
}

.weatherInfo{
    height: 100px;
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 100%;
    background-color: rgb(143, 143, 143);
    color: white;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.wStatus{
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 60px;
    margin: 10px 0px;
    background-color: rgb(158, 244, 255)
}

.wYauco{
    margin-bottom: 5px;
}

@media(min-width: 700px){

    .googleMap{
        height: 400px;
        width: 680px;
        border: 1px solid black;
        margin: auto;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
    }

    .weatherText{
        width: 600px;
    }
}

@media(min-width: 1000px){

    .googleMap{
        height: 400px;
        width: 800px;
        border: 1px solid black;
        margin: auto;
        box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
    }
}