
.aboutUs{
    margin: 10px;
    font-Family: 'Alegreya Sans';
    font-Size: 18px;
}

.contactBox{
    color: white;
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.contactEmail{
    width: 200px;
    margin-top: 5px;
}

.contactName{
    width: 200px;
}

.contactSubject{
    width: 250px;
    margin: auto;
    margin-top: 5px;
}

.messageBox{
    width: 250px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.sendBtn{
    width: 150px;
    height: 30px;
    margin: auto;
    border: none;
    background-color: rgb(248, 255, 0);
    border-radius: 10px;
}

@media(min-width: 700px){

    .aboutUs{
        margin: 10px 200px;
    }
}


@media(min-width: 1000px){

    .aboutUs{
        margin: 10px 400px;
    }
}
