

.RestBtns1{
    height: 80px;
    width: 375.2px;
    margin: auto;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center;
    opacity: 0.9;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.RestBtns2{
    height: 80px;
    width: 375.2px;
    margin: auto;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center;
    opacity: 0.9;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.RestBtns3{
    height: 80px;
    width: 375.2px;
    margin: auto;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center;
    opacity: 0.9;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.RestBtns4{
    height: 80px;
    width: 375.2px;
    margin: auto;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center;
    opacity: 0.9;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}

.RestBtns5{
    height: 80px;
    width: 375.2px;
    margin: auto;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-background-position-x: center;
    -ms-background-position-y: bottom;
    background-position: center;
    opacity: 0.9;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
}