
.alcalBox{
    width: 100%;
    height: 250px;
    background: url(../../Assets/Alcaldia.jpg) center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    background-size: cover;
}

.bodyBack {
    background-color:white;
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    /* padding-bottom: 75px; */

    background: radial-gradient(farthest-side ellipse at 50% 0, hsl(55, 100%, 95%), hsl(54, 48%, 70%) 80%, hsl(54, 83%, 33%) 120%);
    right: 0;
    left: 0;
    
    transition: 2s;
 
}

.cerroBox {
    width: 100%;
    height: 250px;
    background: url(../../Assets/Yauco_cerro.jpg) center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    background-size: cover;
    
}

/* .cerroBox {
    width: 1000px;
    height: 100%;
    background: url(../../Assets/Yauco_cerro.jpg) center;
    background-repeat: no-repeat;
    margin: auto;
} */

.cerroYPic{
    min-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
}

.dashBtns{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.dashMenuBtns1{
    height: 75px;
    width: 375.2px;
    margin: 3px 0px;
    margin-top: 10px;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 30px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(../../Assets/YaucoMap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);

}

.dashMenuBtns2{
    height: 75px;
    width: 375.2px;
    margin: 3px 0px;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 30px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(../../Assets/hisYauco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);

}

.dashMenuBtns3{
    height: 75px;
    width: 375.2px;
    margin: 3px 0px;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 30px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(../../Assets/Newpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);

}

.dashMenuBtns4{
    height: 75px;
    width: 375.2px;
    margin: 3px 0px;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 30px;
    /* background-image: url(../../Assets/PRfood.jpg); */
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(../../Assets/PRfood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);

}

.dashMenuBtns5{
    height: 75px;
    width: 375.2px;
    margin: 3px 0px;
    font-family: 'Alegreya Sans SC';
    color: white;
    font-size: 30px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(../../Assets/SunnySky.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    border: none;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);

}

.flagAndShield{
    border: 1px solid;
    height: 500px;
    margin-Bottom: 100px;
    margin-Top: 20px;
}

.mainYauco{
    color: White;
    border: 4px solid;
    background: rgb(53, 53, 53);
    mix-blend-mode: multiply;
    font: bolder 106px 'Alfa Slab One';
    text-align: center;
    margin: auto;
    padding-top: 50px;
    height: 190px;
}

.middleBar{
    width: 100%;
    height: 75px;
    background-color: black;
    /* padding: 10px; */
}

.middleBarText{
    color: white;
    font-family: 'Alegreya Sans SC';
    letter-spacing: 3px;
    margin: auto;
    
}

.lakeBox{
    width: 100%;
    height: 250px;
    background: url(../../Assets/el_lago_luchetti_by_tanama.jpg) center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
    background-size: cover;
}

.seaBox{
    width: 100%;
    height: 250px;
    background: url(../../Assets/Great-Coast.jpg) center;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 10px;
}

.white{
    font-size: 60px;
    margin: auto;
    background-image: url(../../Assets/sun-solid.svg);
    
}

.yaucoFacts{
    margin: auto;
    margin-bottom: 35px;
    height: auto;
    /* padding: 5px; */
    /* border: 1px solid black; */
    width: 250px;
    background-color: rgb(255, 225, 0);
    border-radius: 10px;
    color: white;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1), 0 6px 6px 0 rgba(0,0,0,0.2);
    
}

.yFlag{
    background-image: url(../../Assets/FlagYAuco.gif);
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    background-repeat: no-repeat;
}

.yShield{

}


@media(min-width: 700px){

    .btnsAndFacts{
        display: flex;
        justify-content: center;
        height: 100%;
        width: 700px;
        margin: auto;
        margin-top: 20px;
    }

    .cerroBox{
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        margin: auto;
        margin-top: 10px;
    }

    .lakeBox{
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        margin: auto;
        margin-top: 10px;
    }

    .alcalBox{
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        margin: auto;
        margin-top: 10px;
    }

    .seaBox{
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        margin: auto;
        margin-top: 10px;
    }

    .dashBtns{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 400px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .mainYauco{
        
        font: bolder 180px 'Alfa Slab One';
        padding-top: 0px;
        height: 240px;
    }

    
}

@media(min-width: 1000px){

    .cerroBox{
        width: 100%;
        height: 250px;
        
    }

    .lakeBox{
        width: 100%;
        height: 250px;
        
    }
    .alcalBox{
        width: 100%;
        height: 250px;
        
    }

    .seaBox{
        width: 100%;
        height: 250px;
        
    }

    .mainYauco{
        
        font: bolder 180px 'Alfa Slab One';
        padding-top: 0px;
        height: 240px;
    }
}